<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>
<form action="/tasks" method="post">
    <input type="text">
    <input type="submit" value="+ Add Task">
</form>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <%= task.text %>
        </li>
        <% }) %>
</ul>

</html>
