<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <ul>
        <% tasks.forEach(function(task) { %>
            <li>
                <%= task.text %>
            </li>
            <% }) %>
    </ul>
</body>

</html>
