<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>
<form action="/tasks" method="POST">
    <input type="text" placeholder="Grocery Item" name="text">
    <input type="text" placeholder="Qty" name="quantity">
    <input type="submit" value=" + ">
</form>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <%= task.text %>
        </li>
        <% }) %>
</ul>

</html>
