<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Grocery List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<div class="container">
  <div class="row">
    <form class="form-inline text-center" action="/tasks" method="POST">
      <input class="form-control" type="text" placeholder="Grocery Item" name="text">
      <input class="form-control" type="text" placeholder="Qty" name="quantity">
      <input class="btn btn-default"type="submit" value=" + ">
    </form>
    <form class="form-inline text-center" action="/tasks" method="GET">
      <input class="form-control" type="text" placeholder="Find groceries" name="text">
      <input class="btn btn-default"type="submit" value=" + ">
    </form>
    <ul class="col-xs-6 col-xs-push-3 text-center list-group">
      <% tasks.forEach(function(task) { %>
        <li class="list-group-item">
            <%= task.text %>
            <span class="tag tag-default tag-pill float-xs-right">
              <%= task.quantity %>
            </span>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</html>
